* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(247, 181, 225);
}

.App {
    display: relative;
    width: 300px;
    max-height: 675px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 50%;
    translate: -50%;
}

#container-changePage-id {
    background-color: rgb(247, 181, 225);
    padding: 5px;
}

.buttonChange-name {
    background-color: rgb(247, 181, 225);
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    width: 145px;
}

.buttonChange-name:hover {
    background-color: rgb(247, 140, 211);
}

.form-container-login {
    margin-top: 100px;
}

.form-container-register {
    margin-top: 30px;
}

label {
    font-size: 1.3em;
}

#celular-id, #password-id, #confirmPassword-id, #name-id, #user-id {
    width: 250px;
    height: 30px;
    border: 1px solid black;
    border-top: none;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    color: darkviolet;
}

#button-login-id, #button-register-id {
    padding: 10px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(247, 181, 225);
}

#button-register-id {
    margin-bottom: 50px;
}

#button-login-id:hover, #button-register-id:hover {
    background-color: rgba(148, 0, 211, 0.747);
    color: white;
}

#container-forgotPass {
    margin-top: 30px;
    padding-bottom: 50px;
}

#forgotPass-id {
    text-decoration: none;
    color: darkviolet;
    font-weight: bold;
}

.form-error {
    display: inline-block;
    margin-bottom: 20px;
    font-size: .75em;
    color: red;
    font-weight: bold;
    translate: 0% -130%;
}